<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MimeJS | Web Dev Framework</title>
    <link
      rel="shortcut icon"
      href="../../public/assets/mime_fav.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../public/css/index.css" />
  </head>
  <body>
    <div id="nav"></div>
    <div id="hero"></div>
    <div id="divider"></div>
    <div id="getStarted"></div>
    <div id="progress"></div>
    <div id="divider"></div>
    <div id="follow"></div>
    <div id="footer"></div>
  </body>
</html>
