footer {
  width: 100%;
  height: 100px;
  background-color: #ed5565;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
footer > img {
  height: 40px;
  filter: invert(100%);
}
footer > p {
  font-size: 1.5rem;
}
