<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/follow.css" />
  </head>
  <body>
    <div class="follow_container">
      <h2>Follow for MimeJS Updates</h2>
      <div class="follow_cards">
        <a href="https://github.com/croftKie/mime-js">
          <div class="follow_card">
            <h3>GitHub</h3>
            <img src="../../public/assets/github.png" alt="" />
          </div>
        </a>
        <a href="https://www.npmjs.com/package/mime-js">
          <div class="follow_card">
            <h3>NPM</h3>
            <img src="../../public/assets/outline.png" alt="" />
          </div>
        </a>
        <a href="https://www.kierancroft.com/">
          <div class="follow_card">
            <h3>My Portfolio</h3>
            <img src="../../public/assets/internet.png" alt="" />
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
