<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/getStarted.css" />
  </head>
  <body>
    <div id="get_started_section" class="container_get_started">
      <div class="card one">
        <h3>Set up the file structure</h3>
        <div class="file-structure">
          <p><img src="../../public/assets/folder.png" alt="" />src</p>
          <p class="inner">
            <img src="../../public/assets/folder.png" alt="" />templates
          </p>
          <p class="inner">
            <img src="../../public/assets/folder.png" alt="" />componenets
          </p>
          <p><img src="../../public/assets/folder.png" alt="" />public</p>
          <p class="inner">
            <img src="../../public/assets/folder.png" alt="" />assets
          </p>
          <p class="inner">
            <img src="../../public/assets/folder.png" alt="" />css
          </p>
          <p class="inner">
            <img src="../../public/assets/folder.png" alt="" />js
          </p>
        </div>
        <p>
          MimeJS uses a specific folder structure to create your application. In
          the parent folder, create the above file structure.
        </p>
      </div>
      <div class="card two">
        <h3>Install (Option 1)</h3>
        <p>You can install MimeJS to a NodeJS project</p>
        <pre>NPM init</pre>
        <p>run the above command in the terminal of your project folder</p>
        <pre>npm install mime-js</pre>
        <p>Install the framework with the above command</p>
        <pre>"node ./node_modules/mime-js"</pre>
        <p>Add this command to a "build" script in your package.json file.</p>
      </div>
      <div class="card three">
        <h3>Install (Option 2)</h3>
        <p>Access MimeJS through NPX</p>
        <pre>NPM init</pre>
        <p>run the above command in the terminal of your project folder</p>
        <pre>"npx mime-js"</pre>
        <p>Add this command to a "build" script in your package.json file.</p>
      </div>
      <div class="card four">
        <h3>Visit the docs for best practices</h3>
        <p>
          For advanced uses of MimeJS check out the docs to learn how to include
          third-party code in your project build, how to configure CSS/JS and
          Assets and how to handle naming conventions for templates and
          components.
        </p>
        <button>Visit Docs</button>
      </div>
    </div>
  </body>
</html>
