<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/nav.css" />
    <script defer src="../../public/js/nav.js"></script>
  </head>
  <body>
    <nav>
      <section class="logo">
        <img src="../../public/assets/mime.png" alt="" />
        <h2>MimeJS - Templating Framework</h2>
      </section>
      <section class="menu">
        <button id="get_started">Get Started</button>
        <button id="progress_button">Progress</button>
        <button id="docs_button">Docs</button>
        <button id="mime_button">MimeJS</button>
      </section>
    </nav>
  </body>
</html>
