<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/progress.css" />
  </head>
  <body>
    <div class="progress_container">
      <div class="line"></div>
      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="progress_cards">
        <div class="progress_card">
          <h3>Release Version 1.0</h3>
          <p>
            I'm working hard to make the first version of MimeJS robust to move
            1.0 out of beta phase (currently in) and into full release, version
            1.0 will include all core functionality and local CDN file
            management.
          </p>
        </div>
        <div class="progress_card">
          <h3>MimeJS CLI Tool</h3>
          <p>
            To improve the initialisation of MimeJS applications I'll be
            developing a CLI package for easy bootstrapping of a MimeJS file
            structure and build commands.
          </p>
        </div>
        <div class="progress_card">
          <h3>Improved performance features</h3>
          <p>
            Follow the release of all core functionality, and the CLI tool. I'll
            be looking to improve the minification of build files and asset
            files to improve the size of final build folders for larger
            projects.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
